* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --background: #2c2b3d;
  --verde-agua: #00bfa6;
  --cinza: #c2c2c2;
  --branco: #fff;
}
body {
  margin: 0rem;
  background-color: var(--background);
  /* min-height: 100vh; */
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 7rem auto 0;
}
.container {
  display: grid;
  gap: 10rem;
  max-width: 110rem;
  margin: 0 auto;
}
main {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
  width: 119.2rem;
  margin-bottom: 16.7rem;
  text-align: center;
}
section {
  max-width: 60.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  font-family: "JetBrains Mono", monospace;
}
#logo {
  opacity: 1;
}
ul,
li {
  display: flex;
  gap: 5.4rem;
  text-align: center;
  font-size: 1.4rem;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}
a {
  padding: 1rem;
  text-decoration: none;
  color: var(--branco);
  opacity: 0.5;
}
a:hover {
  opacity: 1;
}
h2 {
  color: white;
  text-align: center;
  font-size: 3.6rem;
}
span {
  color: var(--verde-agua);
  font-weight: 700;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2.8rem;
  color: var(--cinza);
}
footer {
  padding-bottom: 2.3rem;
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem; /* 200% */
}
#line {
  display: block;
  width: 56rem;
  height: 0;
  border: 1px solid var(--verde-agua);
  margin: 0 auto 2.7rem;
}
#cadeado {
  position: fixed;
  left: 1rem;
  bottom: 0px;
}
